    .p1 {
    font-size: 1000px;
    }
    .div {
    text-align: justify;
    text-justify: inter-word;
    }
    .header{
    width: 100%;
    height: 100px;
    background-color: rgb(194, 178, 178);
    }
    .navbar {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: 100px;
    }
    table{
    border: 1px solid black;
    }
    th{
    border: 3px solid black;
    }
    td{
    border: 3px solid black;
    }